{% extends 'base.html.twig' %}

{% block body %}

    <div class="header">
        <h3 class="font-weight-bold text-center text-white">{{ post.title }}</h3>
        <br>
    </div>

    <div class="content">
        <div class="card border-info col-md-8 offset-md-2">



            <div class="form-group label-floating">
                <h5 class="font-weight-bold text-center border-bottom border-dark">Descripción</h5>
                <div class="text-justify">
                    {{ post.description }}
                </div>



            </div>

        </div>
    </div>
    <br>

    <div class="col-md-4 offset-md-4 text-center">

            <a class="btn btn-info" href="{{ path('admin_posts_edit', { 'id': post.id }) }}">Editar</a>
            <a class="btn btn-dark" href="{{ path('homepage') }}">Volver</a>
            <a class="btn btn-danger" href="{{ path('admin_posts_delete', { 'id': post.id }) }}">Eliminar</a>

    </div>


{% endblock %}
